main {
  height: 665px;
  width: 100%;
  background-color: #f2f0f1;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  width: 596px;
  padding: 50px 0;
}

.title {
  font-size: 64px;
  font-weight: 900;
  width: 577px;
  color: #000;
  margin-bottom: 32px;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 22px;
  width: 545px;
  margin-bottom: 32px;
}

.main-btn {
  margin-bottom: 48px;
}

.main-btn a {
  color: #fff;
  background-color: #000;
  padding: 15px 68px;
  border-radius: 62px;
}

.main-clients {
  display: flex;
  gap: 32px;
}

.main-title {
  font-size: 40px;
  font-weight: 500;
  /* padding: 0 32px; */
}

.main-title:not(:first-child) {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 32px;
}

.main-suptitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 300;
}

.main-img img {
  width: 636px;
}
