.card-container {
  display: flex;
  gap: 20px;
}

.card-wrapper {
  width: 298px;
  /* padding: 10px; */
  margin-bottom: 36px;
}

.card-image {
  margin-bottom: 16px;
}

.card-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.raiting {
  display: flex;
  align-items: center;
  height: 18px;
  margin: 8px 0;
}

.raiting img {
  width: 104px;
  margin-right: 13px;
}

.raiting p {
  font-size: 16px;
  font-weight: 300;
}

.price p {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
