.card-container {
  display: flex;
  /* flex-wrap: wrap; Разрешить перенос элементов */
  /* justify-content: space-between; */
  gap: 20px; /* Расстояние между карточками */
}

.card-wrapper {
  width: 298px;
  /* padding: 10px; */
}

.card-img img {
  width: 100%;
}

.card-content h3 {
  font-size: 18px;
  font-weight: 600;
}
